<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Estudiantes</title>
    <link rel="stylesheet" href="Styles/PerfilProfesorStyle.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-3 left-container">
            <!-- imagen con clase "img-fluid" para que se ajuste al tamaño de la pantalla -->
            <img src="Images/ulacitlogo.png" class="img-fluid mb-5" alt="ULACIT LOGO">
            <!-- Botones del lado izquierdo -->
            <div class="perfil-btn">
                <!-- Botón que lleva a la página de perfil -->
                <a href="Perfil.html" type="button" class="btn btn-secondary btn-block">
                    <i class="fa fa-user"></i>
                    Perfil de Usuario
                </a>
            </div>
            <div class="signout-btn">
                <!-- Botón para signout, ejecuta la función logout() cuando se hace click -->
                <button type="button" class="btn btn-dark btn-block" onclick="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Sign Out
                </button>
            </div>
        </div>
