<div class="container">
    <div class="row">
        <div class="col-md-3 left-container">
            <!-- imagen con clase "img-fluid" para que se ajuste al tamaño de la pantalla -->
            <img src="Images/ulacitlogo.png" class="img-fluid mb-5" alt="ULACIT LOGO">
            <!-- Botones del lado izquierdo -->
            <div class="perfil-btn">
                <!-- Botón que lleva a la página de perfil -->
                <a href="Perfil.html" type="button" class="btn btn-secondary btn-block">
                    <i class="fa fa-user"></i>
                    Perfil de Usuario
                </a>
            </div>
            <div class="signout-btn">
                <!-- Botón para signout, ejecuta la función logout() cuando se hace click -->
                <button type="button" class="btn btn-dark btn-block" onclick="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Sign Out
                </button>
            </div>
        </div>

        <div class="col-md-9">
            <!-- Información de bienvenida al lado derecho -->
            <div class="bienvenida-info">
                <h2>Cursos Matriculados</h2>
                <div class="mt-3">
                  <a href="AdminEstudiantes.html" type="button" class="btn btn-primary btn-block">
                    <i class="fas fa-user-graduate"></i>
                    Administración de Estudiantes
                  </a>
                </div>
                <!-- more code here -->
              </div>
                <div class="scroll-box mt-5">
                    <!-- Your materia cards here -->
                    <div class="materia-card text-center" style="width: 14rem;">
                        <h3>Programación I</h3>
                        <p><strong>Tipo:</strong> Virtual</p>
                        <p><strong>Profesor:</strong> Juan Pérez</p>
                        <a href="#" class="btn btn-success mt-3">Programacion I</a>
                    </div>
                    <div class="materia-card text-center" style="width: 14rem;">
                        <h3>Sistemas Operativos</h3>
                        <p><strong>Tipo:</strong> Presencial</p>
                        <p><strong>Profesor:</strong> Ana López</p>
                        <a href="#" class="btn btn-success mt-3">Sistemas Operativos</a>
                    </div>
                    <div class="materia-card text-center" style="width: 14rem;">
                        <h3>Ingles IV</h3>
                        <p><strong>Tipo:</strong> Virtual</p>
                        <p><strong>Profesor:</strong> Carlos Gómez</p>
                        <a href="#" class="btn btn-success mt-3">Ingles IV</a>
                    </div>
                    <div class="materia-card text-center" style="width: 14rem;">
            
