<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <!-- Formulario para enviar datos al servidor.
        El atributo 'action' especifica la URL a la que se enviarán los datos y
        'method' especifica el método HTTP utilizado (en este caso, POST) -->
    <form action="http://localhost:59901/api/login" method="post">
        <div class="login-container">
            <div class="form-group">
                <label for="username" class="form-label mt-4">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4">Password:</label> <!-- Etiqueta para el campo de contraseña -->
                <input type="password" class="form-control" id="password" name="password" required>
                <!-- Campo de entrada de contraseña.
            En el atributo 'type' se pone  'password' para ocultar el texto ingresado -->
            </div>
            <div class="form-group">
                <label for="userType">User Type:</label> <!-- Etiqueta para el tipo de usuario -->
                <input type="text" id="userType" name="userType" required> <!-- Campo de entrada de texto para el tipo de usuario -->
            </div>
            <button type="submit" class="btn btn-primary mt-4">Login</button> <!-- Botón para envío del formulario -->
        </div>
    </form>

    <script src="Login.js"></script> <!-- archivo JavaScript llamado "Login.js" donde se hace el fetch al web api y db -->
</body>
</html>
