<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="login-container">
      <form class="login-form" action="http://localhost:59901/api/login" method="POST">
        <div class="form-group">
          <label for="username" class="form-label mt-4">Nombre de Usuario:</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password" class="form-label mt-4">Contraseña:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="userType" class="form-label mt-4">Tipo de Usuario:</label>
          <select class="form-control" id="userType" name="userType" required>
            <option value="">Seleccione...</option>
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Iniciar Sesión</button>
      </form>
    </div>
    <div id="alert" style="display: none; color: red;">Inicio de sesión fallido. Por favor, comprueba tus credenciales.</div>
    <script src="Login.js"></script>
</body>
</html>